/********************************
 * @file  head样式
 ********************************/
.navbar
  padding 0 20px
  background #fff
  clear both
  &__logo
    float left
    height auto
    padding 2px 0 0
    .logo
      display block
      width 415px
      height 30px
      padding 10px 0
      background url(../assets/images/logo.png) no-repeat;
      background-size 60%
  &__search
    float right
    margin-top 15px
    width 220px
  .navbar-nav
    position relative
    float right
    .login-user
      display block
      margin-left 5px
      padding 21px 20px
      &.active
        background #E5E9F2

